<div>
    <mat-tab-group>
        <mat-tab label="Inicio "> </mat-tab>
        <mat-tab label="Genero">  </mat-tab>
        <mat-tab label="Pais">  </mat-tab>
        <mat-tab label="TV Show">  </mat-tab>
        <mat-tab label="Peliculas">  </mat-tab>
    </mat-tab-group>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Buscar por</mat-label>
            <input type="text" matInput placeholder="Batman">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
    </div>
</div>
