<div class="flex w-20 justify-content-between align-items-center p-3">
    <mat-tab-group>
        <mat-tab label="Inicio "><app-home-page/></mat-tab>
        <mat-tab label="Genero"> </mat-tab>
        <mat-tab label="Pais"> </mat-tab>
        <mat-tab label="TV Show"> </mat-tab>
        <mat-tab label="Peliculas"> </mat-tab>
    </mat-tab-group>
    <!--<div>
        <mat-form-field appearance="fill">
            <mat-label>Buscar por</mat-label>
            <input type="text" matInput placeholder="Batman">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div class="flex justify-content-between">
        <mat-label><strong>Onnline</strong></mat-label>
        <mat-icon>person</mat-icon>
        <mat-label>Username</mat-label>
    </div>-->
</div>
